.wrapper{
	display: flex;
}
.side-bar{
	width: 300px;
	height: 100vh;
	text-align: center;
	padding: 20px;
	border: 1px solid gray;
}
.page-links{
	margin: 40px;
	text-align: left;
}
.submit-btn{
	margin: 25px;
	text-align: left;
}

.main-wrapper{
	width: calc(100vw - 300px);
	height: 100vh;
	
}
.main-header{
	width: calc(100vw - 300px);
	height: 70px;
	padding: 20px 30px;
	text-align: right;
	border: 1px solid gray;
}
.main-body{
	width: calc(100vw - 300px);
	height: calc(100vh - 140px);
	border: 1px solid gray;
	padding: 20px 30px;
}
.main-footer{
	width: calc(100vw - 300px);
	height: 70px;
	border: 1px solid gray;
}