<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/login.css}" rel="stylesheet">
<title>ログイン</title>
</head>
<body>
	<div class="container">
		<div class="logo">
			<img th:src="@{/images/logo.png}" alt="会社ロゴ" class="company-logo">
		</div>
		<div class="title">
			<h3>Java教育システム</h3>
		</div>
		<div class="login-form">
			<form th:action="@{/login}" method="post">
				<table class="input-table">
					<tr class="form-group">
						<th class="column">社員番号：</th>
						<td><input class="form-control" type="text" name="username"></td>
					</tr>
					<tr class="form-group">
						<th class="column">パスワード：</th>
						<td><input class="form-control" type="password"
							name="password"></td>
					</tr>
				</table>
				<!-- ログインエラーメッセージ -->
				<div class="alert alert-danger" th:if="${param.error}">
					<!-- ${param}でリクエストパラメータを保持 -->
					ログイン情報に誤りがあります
				</div>
				<div class="submit-btn">
					<button class="btn" type="submit">ログイン</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>