<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/top.css}" rel="stylesheet">
	<title>トップページ</title>
</head>
<body>
	<div class="wrapper">
		<div class="side-bar">
			<div class="logo">
				<a th:href="@{/}"> <img th:src="@{/images/logo.png}" alt="会社ロゴ"
					class="company-logo">
				</a>
			</div>
			<div class="page-links">
				<a th:href="@{/}">トップページ</a><br>
				<a th:href="@{#}">○○○○○</a><br>
				<a th:href="@{#}">○○○○○</a><br>
				<a th:href="@{#}">○○○○○</a><br>
			</div>
				<form th:action="@{/logout}" method="post">
				<div class="submit-btn">
					<button class="btn" type="submit">ログアウト</button>
				</div>
				</form>
		</div>
		<div class="main-wrapper">
			<div class="main-header">				
				<div class="user-name" th:text="ユーザ： + ${staff.name}"></div>
			</div>
			<div class="main-body">
				<h1 th:inline="text">
					こんにちは！
				</h1>
			</div>
			<div class="main-footer"></div>
		</div>
	</div>
</body>
</html>